@font-face {
  font-family: 'BravoRGRegular';
  src: url('../fonts/BravoRGRegular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Ceremonious';
  src: url('../fonts/ceremonious_one.ttf');
  font-style: normal;
  font-weight: 500;
}