.title {
  text-align: center;

  &__main {
    font-family: 'Ceremonious';
    font-size: 40px;
    margin: 0 0 25px 0;
    color: $accent-color;
  }

  &__subtitle {
    font-family: $font-family;
    font-size: 35px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2px;

    &__subtitle-w {
      color: #fff;
    }

  }

}


.section-header {
  &__top {
    margin: 0 0 35px 0;
  }

  &__bottom {

  }
}


.bottom-section-header {
  display: flex;
  align-items: center;

  &__decor {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      height: 1px;
      width: 100%;
      background: $accent-color;
      flex: 1 1 auto;
    }

    &:after {
      content: '';
      width: 10px;
      height: 10px;
      border: 1px solid $accent-color;
      margin: 0 5px;
      border-radius: 50%;
    }

    &:last-child{
    flex-direction: row-reverse;
    }
  }

  &__icon {
    background: url("../img/watch.png") center center no-repeat;
    flex: 0 0 74px;
    width: 74px;
    height: 74px;
    margin: 0 45px;
  }
}




