.categories {
  &__container {

  }

  &__row {
    display: flex;
    margin: 0 -50px;
    position: relative;
    padding: 37px 0 0 0;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px*0.7;
      height: 24px*0.7;
      flex: 0 0 24px*0.7;
      border: 1px solid #bb9b66;
      transform: translate(-50%, 0) rotate(45deg);
    }

    &:before {
      left: 33.333%;
    }

    &:after {
      left: 66.67%;
    }
  }

  &__column {
    flex: 0 1 33.333%;
    padding: 0 50px 25px;
    margin: 0 0 25px 0;
    position: relative;
  }

  &__item {
  }

  &__decor {
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    left: 100%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:before {
      content: '';
      width: 1px;
      flex: 1 1 auto;
      background: #bb9b66;
    }

    &:after {
      content: '';
      width: 24px*0.7;
      height: 24px*0.7;
      flex: 0 0 24px*0.7;
      border: 1px solid #bb9b66;
      transform: rotate(45deg);
      margin: 15px 0 0 0;
    }

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;

      &:before {
        content: '';
        width: 10px;
        height: 10px;
        flex: 0 0 10px;
        background: #bb9b66;
        border-radius: 50%;
        margin: 20px 0;
      }

      &:after {
        content: '';
        width: 1px;
        flex: 1 1 auto;
        background: #bb9b66;
      }
    }
  }
}

.item {
  position: relative;
  height: 250px;
  width: 250px;
  padding: 30px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
    z-index: 5;
  }

  &__icon {
    position: relative;
    z-index: 2;
    margin: 0 0 25px 0;
  }

  &__title {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    flex: 1 1 auto;
    letter-spacing: 3px;
    text-align: center;
    line-height: calc(23 / 21);
  }

  &__decor {
    position: relative;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}