@font-face {
  font-family: "pfdin-regular";
  src: url("../fonts/pfdintextcondpro-regular.ttf") format("truetype");
}

@font-face {
  font-family: "pfdin-medium";
  src: url("../fonts/pfdintextcondpro-medium.ttf") format("truetype");
}

@font-face {
  font-family: "ceremonious_one";
  src: url("../fonts/ceremonious_one.ttf") format("truetype");
}

@font-face {
  font-family: "BravoRGRegular";
  src: url("../fonts/BravoRGRegular.ttf") format("truetype");
}