.header {
  padding: 1.2rem 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.user {
  display: flex;

  &__avatar {
    width: 57px;
    height: 57px;

    img {
      border-radius: 50%;
    }
  }

  &__content {
    padding-left: 9px;
  }

  &__name {
    font-weight: 700;
    font-size: 1.06rem;
    line-height: 1.2;
    margin-bottom: 3px;
  }

  &__prof {
    font-size: 0.8rem;
    color: fade(@black, 70);
  }

}


.nav {
  display: flex;

  &__link {
    padding: 0.66rem 2rem;

    border: 2px solid transparent;
    border-radius: 20px;
    height: 100%;

    color: @black;
    font-size: 0.93rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;

    &:hover, &.active {
      border-color: @black;
    }
  }
}







































