.nav {
  display: flex;
  align-items: center;

  &__link {
    margin-left: 2rem;
    position: relative;

    color: @black;
    font-size: 0.93rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;

    &:not(.nav__link--btn):after {
      content: '';
      width: 0;
      height: 2px;

      position: absolute;
      bottom: -6px;
      left: 0;

      background: @black;
      transition: width .2s linear;
    }

    &:hover:after {
      width: 100%;
    }

    // modificator
    &--btn {
      padding: 0.6rem 2rem;
      border: 2px solid @black;
      border-radius: 20px;
      height: 100%;
      transition: background-color .2s linear,
      color .2s linear;

      &:hover {
        background-color: @black;
        color: @white;
      }
    }
  }
}







































