html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



$font-family: 'Roboto', sans-serif;
$font-size: 12px;
$font-color: #666666;

$minWidth: 320px;
$maxWidth:1400;
$maxWidthContainer:1180;
$md1: $maxWidthContainer + 12;

$md2: 991.98;
$mw3: 767.98;
$mw4: 479.98;

html, body {
  height: 100%;
  min-height: 100%;
}

body {

  //font-family: 'Oswald', sans-serif;
  //font-family: 'Play', sans-serif;
  //font-family: 'Roboto', sans-serif;


  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;


  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}















