body {
	background-color: pink;
}

.outer {
	background-color: #3a3e46;
	list-style-type: none;
	padding-left: 0;
	width: 750px;
	margin: 0 auto;
	font-size: 0; /*!!!!!!!!!!!!!    для списков  */
}

.outer > li {
	font-size: 16px;
	display: inline-block;
	border-right: 1px solid green;
	/*text-align: center;*/
	width: 150px;
	box-sizing: border-box;
	vertical-align: top;
	height: 50px;
	/*line-height: 50px;*/
	color: gray;
	position: relative;
}

/* Все что касается текста наследуется, поэтому перенесли некоторые свойства выше */
.outer > li > a {
	display: block;
	height: 100%;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: inherit;
}

.outer > li:last-child {
	border-right: 0;
}

.outer > li:hover {
	background-color: #686a6e;
	color: #fff;

}

.outer > li:hover .dropdown {
	height: 160px;
}

.dropdown {
	list-style-type: none;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;

	height: 0;
	overflow: hidden;
	transition: height 0.5s ease;
}

.dropdown > li:first-child {
	margin-top: 15px;
}

.dropdown > li {
	margin-bottom: 30px;
}

.dropdown > li:last-child {
	margin-bottom: 15px;
}

.dropdown > li > a {
	color: gray;
	font-size: 18px;
	text-decoration: none;
}
