.block-header {
  &__title {
    margin: 0 0 20px 0;
  }
}

.title {
  text-align: center;

  &__item {
    font-family: "ceremonious_one";
    color: #bb9c66;
    font-size: 40px;
    margin-bottom: 23px;
  }

  &__main {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    &-w {
      color: #fff;
    }
  }

}


.block-decor {
  display: flex;

  &__items {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    &:before, &:after {
      content: '';
      display: inline-block;
    }

    &:before {
      height: 1px;
      width: 100%;
      flex: 1 1 auto;
      background: #c8ad81;
    }

    &:after {
      height: #{25*0.7}px;
      width: #{25*0.7}px;
      flex: 0 0 #{25*0.7}px;
      border: 1px solid #c8ad81;
      transform: rotate(45deg);
      margin: 0 12px;
    }

    span {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:before, &:after {
        content: '';
        display: inline-block;
      }

      &:before {
        height: 10px;
        width: 10px;
        border: 1px solid #c8ad81;
        border-radius: 50%;
        margin: 0 10px 0 10px;
      }

      &:after {
        flex: 0 0 #{15*0.7}px;
        height: #{15*0.7}px;
        width: #{15*0.7}px;
        border: 1px solid #c8ad81;
        transform: rotate(45deg);
        margin: 0 0 0 0;
      }
    }

    &:last-child {
      flex-direction: row-reverse;

      span {
        flex-direction: row-reverse
      }
    }
  }

  &__icon {
    flex: 0 0 57px;
    height: 57px;
  }

  &__icon-img {
    position: relative;
    top: 12px;
  }
}