@import "blocks/_vars";
@import "blocks/_header";
@import "blocks/_nav";
@import "blocks/_intro";
@import "blocks/_social";
@import "blocks/_btn";
@import "blocks/_works";
@import "blocks/_portfolio";
@import "blocks/_work";
@import "blocks/_about";
@import "blocks/_reviews";
@import "blocks/_news";
@import "blocks/_articles";
@import "blocks/_footer";
@import "blocks/_modal";
@import "blocks/_modal-work";
@import "blocks/_timeline";
@import "blocks/_progress-bar";
@import "blocks/_contact";
@import "blocks/_form";
@import "blocks/_helpers";

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: @black;
}

.no-scroll {
  overflow: hidden;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}