.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.red, .green, .blue {
	height: 200px;
}

/*  4-х колоночная сетка */
.row:after {
	content:'';
	display: block;
	clear: both;
}

.col {
	float: left
}


.xs1 {
	width: 25%;
}

.xs2 {
	width: 50%;
}

.xs3 {
	width: 75%;
}

.xs4 {
	width: 100%;
}

@media screen and (min-width: 600px) {
	.s1 {
		width: 25%;
	}

	.s2 {
		width: 50%;
	}

	.s3 {
		width: 75%;
	}

	.s4 {
		width: 100%;
	}
}


@media screen and (min-width: 1000px) {
	.l1 {
		width: 25%;
	}

	.l2 {
		width: 50%;
	}

	.l3 {
		width: 75%;
	}

	.l4 {
		width: 100%;
	}
}




















